---
import GeneralBotonPago from "@components/General/GeneralBotonPago.astro";
const { numeroProducto, precio } = Astro.props


---
<div class="flex flex-col gap-5">
<div class="accordionCarrito bg-[rgb(243,243,243)]" x-data="{ expanded: false }">
  <div @click="expanded = ! expanded"
    
    class="Open hover:cursor-pointer productBuy ms-6 px-3 py-2    flex justify-between "
  >
    Usa un codigo promocional
    <svg
  class="w-6 h-6 transition-all duration-150"
  :class="{ '-rotate-90': expanded }"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 32 32"
>
  <path
    fill="currentColor"
    d="M9.91 24.96 19.37 16 9.9 7.04l1.5-1.58L22.54 16 11.41 26.54l-1.5-1.58Z"
  ></path>
</svg>
  </div>
  <div x-show="expanded" x-collapse  class="Hidden  *:ms-4 mt-4 ml-4 flex pb-5">
    <input type="text" placeholder="Código promocional" class="bg-white">
    <button></button>
  </div>
</div>


    <div class="bg-[rgb(243,243,243)] p-3">
        <div class="border-dashed border-b border-[#9a9a9a]">
            <div class="mb-5">RESUMEN DE PEDIDO</div>
            
            <div class="flex justify-between mb-4">
                <div>Subtotal: ({numeroProducto})</div>
                <div>{precio}€</div>
            </div>
            <div class="flex justify-between mb-1">
                <div>Envío</div>
                <div>Gratuito</div>
            </div>
        <div class="text-xs">Envio Estándar: Entrega estimada: 4-5 días laborales</div>
        <div class="mb-3"> Devolución gratuita en 30 dias</div>
    </div>
        <div class="mt-3"> Total del pedido</div>
    <div class="flex justify-between ">
        
        <div class=""> Total del pedido</div>
        <div> {precio}€</div>
    </div>
    <div class="text-xs ">(21% IVA incluido)</div>
    
</div>


<GeneralBotonPago texto="Confirmar pedido"></GeneralBotonPago>

</div>