---
import CategoriasCard from "./CategoriasCard.astro";

const {arrayCards, arrayPromocion} = Astro.props;


interface InterfazArrayCards {
    name: string,
    variations: string[],
    price: number,
    arrayImagenes: Array<HTMLSourceElement>
  }

//console.log(arrayCards[0].defaultVariation)




---

<div
  class="grow tarjetas grid grid-cols-2 md:grid-cols-3 gap-2 px-6"
>

{arrayCards.map((Valor: InterfazArrayCards) => (

<CategoriasCard Nombre={Valor.name} Precio={Valor.price} Colores={Valor.variations.length} 
  id = {Valor.id}
  arrayImagenes = {Valor.variations[Valor.variations.findIndex(iteracion => iteracion.id == Valor.defaultVariation[0].id)].arrayImages} />

)
)}


  <slot>

  </slot>

</div>

