---
import CategoriasCard from "./CategoriasCard.astro";

const {arrayCards, arrayPromocion} = Astro.props;


interface InterfazArrayCards {
    name: string,
    colors: number,
    price: number,
    arrayImagenes: Array<HTMLSourceElement>
  }

---

<div
  class="grow tarjetas grid grid-cols-2 md:grid-cols-3 gap-2"
>

{arrayCards.map((Valor: InterfazArrayCards) => (
  <CategoriasCard Nombre={Valor.name} Precio={Valor.price} Colores={Valor.colors} arrayImagenes = {Valor.arrayImages}/>
  
)
)}


  <slot>

  </slot>

</div>
