---

---

<div class="smallText hover:underline text-xs ml-5 text-neutral-500">
        compra
      </div>
      <div class="flex frontText sticky z-40 bg-white top-0 items-center">
        <div class="flex flex-col grow">
          <div class="categoryName mt-3 ml-5 textxl md:text-2xl">
            Ropa y Calzado para hombre
          </div>
          <div class="flex justify-between">
            <div class="showFilters flex ml-5 mt-2">
                <div class="hidden md:block">
                  <div class="flex">
                    Mostrar Filtros
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 32 32"
                      class="pl-2 w-7 h-7 botonFiltros"
                      ><path
                        d="M19.9 5.9v6.2h2.2v-2h5V7.9h-5v-2h-2.2Zm-1.8 2H4.9v2.2h13.2V7.9Zm-8.2 5v2h-5v2.2h5v2h2.2v-6.2H9.9Zm17.2 2H13.9v2.2h13.2v-2.2Zm-12.07 5v6.2h2.19v-2h9.87v-2.2h-9.87v-2h-2.19Zm-2.4 2H4.95v2.17h7.68V21.9Z"
                      ></path></svg
                    >
                  </div>
                </div>
              <p class="md:hidden text-xs">1000 Producto</p>
            </div>

            <div class="mr-3 hidden md:block">
              <p class="hidden md:block">1000 Producto</p>
              <p class="md:hidden">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 32 32"
                  class="pl-2 w-7 h-7"
                  ><path
                    d="M19.9 5.9v6.2h2.2v-2h5V7.9h-5v-2h-2.2Zm-1.8 2H4.9v2.2h13.2V7.9Zm-8.2 5v2h-5v2.2h5v2h2.2v-6.2H9.9Zm17.2 2H13.9v2.2h13.2v-2.2Zm-12.07 5v6.2h2.19v-2h9.87v-2.2h-9.87v-2h-2.19Zm-2.4 2H4.95v2.17h7.68V21.9Z"
                  ></path></svg
                >
              </p>
            </div>
          </div>
        </div>

        <div class="md:hidden botonFiltrosResponsive">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              class="pl-2 w-8 h-8 mr-4"
              ><path
                d="M19.9 5.9v6.2h2.2v-2h5V7.9h-5v-2h-2.2Zm-1.8 2H4.9v2.2h13.2V7.9Zm-8.2 5v2h-5v2.2h5v2h2.2v-6.2H9.9Zm17.2 2H13.9v2.2h13.2v-2.2Zm-12.07 5v6.2h2.19v-2h9.87v-2.2h-9.87v-2h-2.19Zm-2.4 2H4.95v2.17h7.68V21.9Z"
              ></path></svg
            >
        </div>
      </div>
