---
import GeneralAccordion from "@components/General/GeneralAccordion.astro";
const {numeroCards, numeroProductos} = Astro.props;


---

<div class="text-center">
      <p>Viendo {numeroCards} de {numeroProductos} Productos</p>
      <button
        type="button"
        class="px-6 py-4 bg-gray-900 text-white hover:bg-black transition-all duration-150 mr-6 hover:cursor-pointer"
        >Ver más</button
      >
    </div>

    <GeneralAccordion title="title" content="placeholder"/>
    <GeneralAccordion title="title" content="placeholder"/>

