---
import CategoriasCard from "./CategoriasCard.astro";

const {arrayCards, arrayPromocion} = Astro.props;


interface InterfazArrayCards {
    Nombre: string,
    Colores: number,
    Precio: number,
    arrayImagenes: Array<HTMLSourceElement>
  }

---

<div
  class="grow tarjetas grid grid-cols-2 md:grid-cols-3"
>

{arrayCards.map((Valor: InterfazArrayCards) => (
  <CategoriasCard Nombre={Valor.Nombre} Precio={Valor.Precio} Colores={Valor.Colores} arrayImagenes = {Valor.arrayImagenes}/>
  
)
)}


  <slot>

  </slot>

</div>
