---
import CategoriasCard from "./CategoriasCard.astro";

const {arrayCards, tallas} = Astro.props;


interface InterfazArrayCards {
    name: string,
    variations: string[],
    price: number,
    arrayImagenes: Array<HTMLSourceElement>
    tag: string
  }

//console.log(arrayCards[0])
let contador = new Map();

for (let iterable of arrayCards){
  if(contador.get(iterable.tag)==null){
    contador.set(iterable.tag, 1);

  }
  else{
    contador.set(iterable.tag, (contador.get(iterable.tag)+1));
  }
}


//console.log(contador)

---

<div
  class="grow tarjetas grid grid-cols-2 md:grid-cols-3 gap-2 px-6"
>

{arrayCards.map((Valor: InterfazArrayCards) => (

<CategoriasCard 
producto={Valor} 
Colores={contador.get(Valor.tag)}
  tallas = {tallas}
  />
  

)
)}


  <slot>

  </slot>

</div>

