---
const { title, content } = Astro.props;
---



<div class="accordionsProduct" x-data="{ expanded: false }">
  <div @click="expanded = ! expanded"
    
    class="Open hover:cursor-pointer productBuy ms-6 px-3 py-2 border-b border-[rgb(243,243,243)]  flex justify-between bg-transparent"
  >
    {title}
    <svg
  class="w-6 h-6 transition-all duration-150"
  :class="{ '-rotate-90': expanded }"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 32 32"
>
  <path
    fill="currentColor"
    d="M9.91 24.96 19.37 16 9.9 7.04l1.5-1.58L22.54 16 11.41 26.54l-1.5-1.58Z"
  ></path>
</svg>
  </div>
  <div x-show="expanded" x-collapse  class="Hidden  *:ms-4 mt-4 ml-4">
    {content}
    <slot></slot>
  </div>
</div>
<!-- 
<div ">
    <button @click="expanded = ! expanded">Toggle Content</button>
 
    <p x-show="expanded" x-collapse>
        ...
    </p>
</div> -->