---
const { arrayProductos } = Astro.props;

interface InterfazTallas {
  price: number;
  availability: boolean;
  size: string;
  name: string;
  id: string;
}


let manzana = "rica";

import CarritoProducto from "@carrito/CarritoProducto.astro";
---

<script>
  import Alpine from "alpinejs";
  const stored = localStorage.getItem("carrito");
  let parseado = 'placeholder'
  if(stored!=null){

    let parseado = JSON.parse(stored);
  }
  console.log(parseado)
  Alpine.store("carrito", parseado);
</script>

<div
  x-data="{expandido: false}"
  @open-carrito-menu.window="expandido = !expandido"
  x-cloak
  class="oscuro fixed bg-black top-0 right-0 w-full h-full z-40 transition-all duration-150"
  :class="expandido ? 'opacity-15 pointer-events-auto' : 'opacity-0 pointer-events-none'"
  @click="if(expandido) $dispatch('open-carrito-menu')"
>
</div>

<!-- Menu de tallas -->
<div
  x-data="objetoAlpine"
  x-cloak
  @open-carrito-menu.window="expandido = !expandido, refrescarObjeto()"
  class="tallas fixed flex flex-col bg-white *:text-black md:left-auto -bottom-full w-full h-3/4 md:h-full backdrop-blur-sm z-50 md:w-96 transition-all duration-300 ease-out overflow-y-scroll"
  :class="expandido ? 'md:top-0 md:right-0 translate-x-0 opacity-100 bottom-0 right-auto pointer-events-auto' : 'md:top-0 md:right-0 md:translate-x-full opacity-0 pointer-events-none'"
>
  <div class="title text-xl py-4 px-4 border-b border-gray-200" x-text="'Añadiendo a la cesta'">  </div>

  <div class="overflow-y-scroll h-full" id="menuProductos">

    <template x-for="producto in carrito" >
      <CarritoProducto></CarritoProducto>
    </template>

    <!-- <CarritoProducto
      cantidadMaxima="preci"
      Nombre="Test"
      Precio="20"
      imagen="https://images.apirocket.io/images/0i8m8q5n/Variations/Jag6Tbn21k/Knu-Skool-Shoes-VANS-Black-ALT1.png"
      Colores="rojo"
      talla="20"
    /> -->
  </div>
  <div class="flex grow border-b border-gray-200 cursor-pointer">
    <button class="flex grow">
      <a
        href="/carrito"
        class="talla font-medium text-white bg-[rgb(38,36,36)] grow text-center p-3 m-6 cursor-pointer hover:bg-black transition-all duration-150"
      >
        Ve a la cesta
      </a>
    </button>
  </div>
</div>



<script>
import Alpine from "alpinejs";

function cargarData(){

const stored = localStorage.getItem("carrito");
let carrito;

if (stored!=null){
  carrito = JSON.parse(stored)
}



let objetoAlpine = {
  expandido: false,
  tallaActual: '',
  carrito: carrito,
  pagina: 'carrito',

  


  refrescarObjeto(){
    
    const stored = localStorage.getItem("carrito");
    console.log(stored);
let carrito;

if (stored!=null){
  carrito = JSON.parse(stored)
}

this.carrito = carrito;
console.log(this.carrito)
    
  },


removeFromCarrito(producto: any) {
    this.carrito = this.carrito.filter((item: any) => 
      !(item.id === producto.id && item.talla === producto.talla && item.color === producto.color)
    );
    localStorage.setItem('carrito', JSON.stringify(this.carrito));
  }

}
Alpine.data('objetoAlpine', () => objetoAlpine)

}

cargarData()
//  clonar()
</script>
