---
const { texto } = Astro.props;
---

<div class="flex flex-col grow">
  <button
    type="button"
    class="mt-2 px-6 py-3 bg-[rgb(38,36,36)] text-white hover:bg-black transition-all duration-150 space-y-4 min-w-full hover:cursor-pointer"
    >{texto}</button
  >
  
</div>
