---
import HamburguesaNav from "@general/GeneralHamburguesaNav.astro";
---

<HamburguesaNav />

<nav
  class="sticky top-0 left-0 w-full h-20 flex flex-col bg-white z-40 transition-all length-150"
>
  <div class="h-20 grid grid-rows-1 grid-cols-2 md:grid-cols-3">
    <!--Icono para abrir hamburguesa -->
    <div class="hidden md:flex items-center hamburguesa pl-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        id="abrirHamburguesa"
        viewBox="0 0 32 32"
        class="w-10 h-10 hover:bg-gray-500 transition-all duration-150 p-1 hover:cursor-pointer"
        fill="currentColor"
      >
        <path
          d="M5.9 7.9h20.2v2.2H5.9V7.9Zm0 7h20.2v2.2H5.9v-2.2Zm0 7h20.2v2.2H5.9v-2.2Z"
        ></path>
      </svg>
    </div>

    <!-- Logo -->

    <div class="flex items-center justify-start md:justify-center ml-2 md:ml-0">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        width="67"
        height="23"
        viewBox="0 0 25 9"
        class="h-1/4 md:h-1/3 w-auto hover:-rotate-2 transition-all duration-150 hover:cursor-pointer"
      >
        <path
          d="m8.84 6.5.67-2.01.66 2H8.84ZM6.3 8.51h1.72l.33-.94h2.28l.33.94h1.7L10.5 2.5H8.67L6.3 8.52Zm8.57-3.04 2.25 3.04h1.4V2.5h-1.62v3.28L14.88 2.5h-1.56v6.02h1.56V5.48ZM0 0l3.03 8.53h1.8L7.6 1.47h17.2L24.95 0H6.27l-2.3 5.85L1.9 0H0Zm24.42 4.2h-1.44c-.14-.36-.3-.63-1.1-.63-.57 0-.8.23-.8.46 0 .25.2.47.81.6l1.3.36c.87.23 1.28.91 1.28 1.63 0 .4-.08.9-.46 1.29-.29.3-.72.69-2.14.69-1.96 0-2.6-1.25-2.6-2h1.52c.15.55.53.76 1.27.76.51 0 .96-.18.96-.58 0-.38-.32-.52-.74-.63l-1.03-.28c-.5-.15-.92-.28-1.21-.53a1.56 1.56 0 0 1 .12-2.45c.47-.35.94-.52 1.7-.52.88 0 1.4.25 1.79.53.35.24.77.83.77 1.3Z"
        ></path>
      </svg>
    </div>

    <!-- Otros iconos -->
    <div class="flex justify-end items-center pr-4">
      <div class="flex gap-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          class="w-10 h-10 hover:bg-gray-500 transition-all duration-150 p-1 hover:cursor-pointer"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M8 18.73c0-.68.55-1.23 1.23-1.23h13.54c.68 0 1.23.55 1.23 1.23v7.77h-2v-7H10v7H8v-7.77Zm8-5.23a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm0 2a5 5 0 1 0 0-10 5 5 0 0 0 0 10Z"
            clip-rule="evenodd"></path>
        </svg>

        <svg
          viewBox="0 0 32 32"
          class="hidden md:block w-10 h-10 hover:bg-gray-500 transition-all duration-150 p-1 hover:cursor-pointer"
          fill="currentColor"
        >
          <path
            xmlns="http://www.w3.org/2000/svg"
            d="m11.35 10.61-6.06.51-.23.03a2.5 2.5 0 0 0-1.2 4.35l4.6 4-1.37 5.93-.04.22a2.5 2.5 0 0 0 3.77 2.48L16 25l5.18 3.14.2.11c1.85.92 4.01-.73 3.53-2.81l-1.38-5.94 4.6-3.99.17-.16a2.5 2.5 0 0 0-1.6-4.22l-6.05-.5-2.35-5.6a2.5 2.5 0 0 0-4.6 0l-2.35 5.6Zm5.33-4.9 2.56 6.08c.13.3.41.5.74.53l6.58.55c.65.06.92.87.42 1.3l-5 4.34a.88.88 0 0 0-.28.86l1.5 6.46a.74.74 0 0 1-1.1.8l-5.65-3.43a.88.88 0 0 0-.9 0L9.9 26.63a.74.74 0 0 1-1.1-.8l1.49-6.46a.88.88 0 0 0-.28-.86l-5-4.34a.74.74 0 0 1 .42-1.3l6.58-.55c.33-.02.61-.23.74-.53l2.56-6.08a.74.74 0 0 1 1.36 0Z"
          ></path>
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          class="w-10 h-10 hover:bg-gray-500 transition-all duration-150 p-1 hover:cursor-pointer"
          fill="currentColor"
        >
          <path d="M19 17.59 26.41 25 25 26.41 17.59 19 19 17.59Z"></path>
          <path
            fill-rule="evenodd"
            d="M14 20a6 6 0 1 0 0-12 6 6 0 0 0 0 12Zm0 2a8 8 0 1 0 0-16 8 8 0 0 0 0 16Z"
          ></path>
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          class="w-10 h-10 hover:bg-gray-500 transition-all duration-150 p-1 hover:cursor-pointer"
          fill="currentColor"
        >
          <path
            d="M12 26a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm12 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
          ></path>
          <path
            fill-rule="evenodd"
            d="M9 7h16.67c.86 0 1.45.86 1.15 1.66L23.69 17H10.5v-2h11.8l2.26-6H9V7Z"
            clip-rule="evenodd"></path>
          <path
            fill-rule="evenodd"
            d="M4 5h5.32l2.22 11.1L9.98 20H25v2H8.84c-.86 0-1.47-.87-1.14-1.69l1.76-4.4L7.68 7H4V5Z"
            clip-rule="evenodd"></path>
        </svg>

        <div id="" class="md:hidden hamburguesa">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            id="abrirHamburguesaResponsive"
            class="w-10 h-10 hover:bg-gray-500 transition-all duration-150 p-1 hover:cursor-pointer"
         fill="currentColor"

            >
            <path
              d="M5.9 7.9h20.2v2.2H5.9V7.9Zm0 7h20.2v2.2H5.9v-2.2Zm0 7h20.2v2.2H5.9v-2.2Z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  //ABRIR MENU HAMBURGUESA
  const cerrar = document.querySelector<HTMLElement>("#cerrar");
  const hamburguesa = document.querySelector<HTMLElement>("#hamburguesaOculta");
  const abrirHamburguesa =
    document.querySelector<HTMLElement>("#abrirHamburguesa");
  const abrirHamburguesaResponsive = document.querySelector<HTMLElement>(
    "#abrirHamburguesaResponsive",
  );
  if (hamburguesa && abrirHamburguesa) {
    hamburguesa.style.opacity = "0"; //Lo oculto, esto se ejcuta por defecto al iniciar la pagina.
    hamburguesa.style.pointerEvents = "none"; //Hago que no sea interactuable
    hamburguesa.style.overflow = "hidden";

    //EVENT LISTENERS
    abrirHamburguesa.addEventListener("click", abrirMenu);
    abrirHamburguesaResponsive?.addEventListener("click", abrirMenu);
  }

  function abrirMenu() {
    if (!hamburguesa || !abrirHamburguesa || !cerrar) {
      return;
    }
    //activo eventos, lo hago visible, y lo muevo a donde debe de estar
    hamburguesa.style.pointerEvents = "auto";
    hamburguesa.style.opacity = "1";
    if (window.innerWidth < 768) {
    hamburguesa.style.bottom = "0px";
    }
    else{
      hamburguesa.style.left = "0px"
    }
    document.addEventListener("click", cerrarMenu);
    cerrar.addEventListener("click", cerrarMenu);
  }
  function cerrarMenu(e: Event) {
    const target = e.target as HTMLElement;

    if (hamburguesa != null) {
      if (cerrar?.contains(target)) {
        //Este if no hace nada, existe para asegurarme que no se ejecute el else en caso de que presiones la cruz de cerrar.
      } else if (
        hamburguesa.contains(target) ||
        target == abrirHamburguesa ||
        target == abrirHamburguesaResponsive
      ) {
        return;
      }
      if (window.innerWidth < 768) {
        hamburguesa.style.bottom = 0.25 * -20 + "rem";
      }
      else{
        hamburguesa.style.left = 0.25 * -20 + "rem"; //Formula del left en tailwind.
      }
        hamburguesa.style.opacity = "0";
        hamburguesa.style.pointerEvents = "none";      
    }
  }
</script>
