---
import LayoutCategoria from "../layouts/LayoutCategoria.astro";
import Card from "../components/Card.astro";

import categoriaVideo from "../assets/CategoriaVideo.webm";

---

<LayoutCategoria>
    	<div slot="cards">
		<Card>
			<div slot="productName">Mocasines skate</div>
			<div slot="price">90€</div>

		</Card>
				<Card>
			<div slot="productName">Old Skool</div>
			<div slot="price">100€</div>

		</Card>

		<div class="tarjeta">
			<video autoplay muted loop src={categoriaVideo}></video>
		</div>
				<Card>
			<div slot="productName">Mocasines skate</div>
			<div slot="price">90€</div>

		</Card>

				<Card>
			<div slot="productName">Mocasines skate</div>
			<div slot="price">90€</div>

		</Card>

				<Card>
			<div slot="productName">Mocasines skate</div>
			<div slot="price">90€</div>

		</Card>

				<Card>
			<div slot="productName">Mocasines skate</div>
			<div slot="price">90€</div>

		</Card>

				<Card>
			<div slot="productName">Mocasines skate</div>
			<div slot="price">90€</div>

		</Card>

				<Card>
			<div slot="productName">Mocasines skate</div>
			<div slot="price">90€</div>

		</Card>

				<Card>
			<div slot="productName">Mocasines skate</div>
			<div slot="price">90€</div>

		</Card>
	</div>

</LayoutCategoria>