---
import CategoriasMenuSticky from "@components/Categorias/CategoriasMenuSticky.astro"
import Layout from "../layouts/Layout.astro"
import CategoriasFiltros from "@components/Categorias/CategoriasFiltros.astro"
import CategoriasFinal from "@components/Categorias/CategoriasFinal.astro"
import CategoriasContenedorCard from "@components/Categorias/CategoriasContenedorCard.astro"
---

<Layout>
    <CategoriasMenuSticky/>
    <div class="flex">
        <CategoriasFiltros/>  <!-- Now only contains the filter menu -->
        <CategoriasContenedorCard/>  <!-- Contains the cards -->
    </div>
    <CategoriasFinal/>
</Layout>