---
import Layout from "@layouts/Layout.astro";


---

<Layout>
    <div>
        <span class="flex justify-center align-center text-xl">Exito!</span>

        <div>Tu orden:</div>
        
        <div>Tu codigo de pedido es: <span>#Di3aIfAFAE4moP13</span></div>
    </div>
</Layout>