---
import InicioCarruselResponsive from "@components/Inicio/InicioCarruselResponsive.astro"
import InicioCarrusel from "../components/Inicio/InicioCarrusel.astro"
import InicioCarrusel2 from "../components/Inicio/InicioCarrusel2.astro"
import InicioSlider from "../components/Inicio/InicioSlider.astro"
import Layout from "../layouts/Layout.astro"
import spain from "@assets/spain.svg"

import women from "@assets/women.avif";
import men from "@assets/men.avif";
import kids from "@assets/kids.avif";


let ArrayCategorias = [
    {
        Nombre: "Mujer",
        Imagen: women,
        Alt: "women"
    },
    {
        Nombre: "Hombre",
        Imagen: men,
        Alt: "men"
    },
    {
        Nombre: "Niños",
        Imagen: kids,
        Alt: "kids"
    }]

---



<Layout title="Inicio" lang="es" flag={spain.src}>
    <InicioSlider/>
    <InicioCarrusel ArrayCategorias = {ArrayCategorias}/>
          <!-- <div class="md:hidden">
        <InicioCarruselResponsive />
      </div> -->

</Layout>

