---

---

<div class="carrusel relative h-screen">
  <div class="marco overflow-auto h-full snap-x snap-mandatory">
    <div class="imagenes flex transition-all duration-150 h-full *:snap-start ">
      <slot></slot>
      
    </div>
  </div>
</div>

<script>
  setInterval(mover, 5000);
  let marco = document.querySelector(".marco");
  let posicion = 0;
  function mover() {
    if (marco == null || posicion == null) {
      return;
    }
    posicion += marco?.scrollWidth / 3;
    if (posicion >= marco?.scrollWidth) {
      posicion = 0;
    }
    marco?.scrollTo({
      left: posicion,
      top: 0,
      behavior: "smooth",
    });
  }
</script>
