
<div class="accordionsProduct">
				<div
					class="text-white Open hover:cursor-pointer productBuy ms-6 px-3 py-2 border-b-2 border-white/20 mix-blend-difference flex justify-between bg-transparent "
				>
					<slot name="title"></slot>
					        <svg
            class="w-6 h-6 rotate-90 transition-all duration-150"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
        >
            <path
                fill="currentColor"
                d="M9.91 24.96 19.37 16 9.9 7.04l1.5-1.58L22.54 16 11.41 26.54l-1.5-1.58Z"
            />
        </svg>
				</div>
				<div class="Hidden *:ms-12 mt-4">
					<slot name="Content">
					</div>
				</div>
			</div>


