---
import impermeables from '../assets/impermeables/Sk8Hi-Waterproof-Insulated-Shoes.avif';
import Carrusel from './Carrusel.astro';
---

<div class="card flex flex-col h-full">
    <div class="">
        <Carrusel></Carrusel>
    </div>
    <div class="p-4 flex flex-col">
        <div class=" text-gray-800 text-xl">Mocasines skate</div>
        <div class="text-sm text-gray-500">6 colores</div>
        <div class="precio text-gray-900">90€</div>
    </div>
</div>