---
import '../styles/global.css'  
import spain from '../assets/spain.svg';

---

<footer class="*:bg-neutral-900 text-white ">
<div class="accordions">
    <div class="buy ms-6 px-3 py-2 border-b-2 border-white">compra</div>
    <div class="buyHidden *:ms-12 mt-4">
        <ul>
            <li>hombre</li>
            <li>mujer</li>
            <li>niños</li>
            <li>personalizar</li>
            <li>novidades</li>
        </ul>
    </div>
    <div class="sport ms-6 px-3 py-2 border-b-2 border-white">sport</div>
    <div class="sportHidden *:ms-12 mt-4">
        <ul>
            <li>Old Skool</li>
            <li>Authentic</li>
            <li>Slip-on</li>
            <li>Sk8-Hi</li>
        </ul>
    </div>
    <div class="brand ms-6 px-3 py-2 border-b-2 border-white">Brand</div>
    <div class="brandHidden *:ms-12 mt-4">
        <ul>
            <li>Sobre nosotros</li>
            <li>Noticas</li>
            <li>Trabaja con nosotros</li>
            <li>Sostenibilidad</li>
            <li>Vegan</li>
        </ul>
    </div>
    <div class="orders ms-6 px-3 py-2 border-b-2 border-white">Pedidos</div>
    <div class="ordersHidden *:ms-12 mt-4">
        <ul>
            <li>Rastrea o devuelve un pedio</li>
            <li>Envíos</li>
            <li>Devoluciones</li>
        </ul>
    </div>
    <div class="attentionToClient ms-6 px-3 py-2 border-b-2 border-white">Atención al cliente</div>
    <div class="attentionToClientHidden *:ms-12 mt-4">
        <ul>
            <li>Contacta con nosotros</li>
            <li>Tabla de tallas</li>
            <li>FAQ</li>
            <li>Descuento de estudiante</li>
        </ul>
    </div>
    
</div>
<div class="bottomText *:ms-12" >
    <div class="icons">
        <i class="fa-brands fa-twitter hover:text-blue-500 transition-all duration-150"></i>
        <i class="fa-brands fa-facebook-f hover:text-blue-800 transition-all duration-150"></i>
        <i class="fa-brands fa-youtube hover:text-red-500 transition-all duration-150"></i>
        <i class="fa-brands fa-instagram hover:text-purple-500 transition-all duration-150"></i>

    </div>
    <div class="idioma flex">
        <a class="hover:underline">🇪🇸 ES | Cambiar de pais</a>
    </div>
    <div class="links">
        <a class="underline text-sm">Sostenibilidad y responsabilidad</a>
        <a class="underline text-sm"> Modern Slavery Statement</a>
        <a class="underline text-sm">Términos de uso del sitio web</a>
        <a class="underline text-sm">Condiciones de venta</a>
        <a class="underline text-sm">Declaración de conformidad</a>
        <a class="underline text-sm">Política de cookies</a>
        <a class="underline text-sm">Preferencias de consetimiento</a>
    </div>
</div>


<script>

interface AccordionPair {
  key: string;
  value: string;
}

const accordions: AccordionPair[] = [ //Llave valor, como en php
  { key: ".buy", value: ".buyHidden" },
  { key: ".sport", value: ".sportHidden" },
  { key: ".brand", value: ".brandHidden" },
  { key: ".orders", value: ".ordersHidden" },
  { key: ".attentionToClient", value: ".attentionToClientHidden" },
];

accordions.forEach(({ key, value }) => {  //A cada elemento pillo su clave y su valor
  const keyElement = document.querySelector<HTMLElement>(key); //Especifico HTMLEment para que VSCode no me grite, juraria que no es necesario si no.
  const valueElement = document.querySelector<HTMLElement>(value);

  if (!keyElement || !valueElement) return;

  valueElement.style.maxHeight = "0px"; //Lo oculto, esto se ejcuta por defecto al iniciar la pagina.
  valueElement.style.overflow = "hidden"; //Los elementos siguen existiendo, pero no se ven por el overflow.
  valueElement.style.transition = "max-height 0.3s linear";

  keyElement.addEventListener("click", () => { //Añado un evento que hace que si esta abierto lo cierra y si esta cerrado lo abre, uso scrollHeight para no romper los esquemas de espacio de la pagina.
    if (valueElement.style.maxHeight === "0px") {
      valueElement.style.maxHeight = valueElement.scrollHeight + "px";
    } else {
      valueElement.style.maxHeight = "0px";
    }
  });
});

</script>




</footer>