---
import '../styles/global.css'  
import spain from '../assets/spain.svg';

---

<footer class="*:bg-black text-white">
<div class="accordions">
    <div class="compra">compra</div>
    <div class="compraOculto">
        <ul>
            <li>hombre</li>
            <li>mujer</li>
            <li>niños</li>
            <li>personalizar</li>
            <li>novidades</li>

        </ul>
    </div>
    <p>Sport</p>
    <p>Brand</p>
    <p>Pedidos</p>
    <p>Atención al cliente</p>
    
</div>
<div class="bottomText" >
    <div class="icons">
        <i class="fa fa-star hover:text-blue-500 transition-all duration-150"></i> <!-- Twitter -->
        <i class="fa fa-star hover:text-blue-800 transition-all duration-150"></i> <!-- Facebook -->
        <i class="fa fa-star hover:text-red-500 transition-all duration-150"></i> <!-- Youtube -->
        <i class="fa fa-star hover:text-purple-500 transition-all duration-150"></i> <!-- Instagram -->
    </div>
    <div class="idioma flex">
        <a class="hover:underline">🇪🇸 ES | Cambiar de pais</a>
    </div>
    <div class="links">
        <a class="underline text-sm">Sostenibilidad y responsabilidad</a>
        <a class="underline text-sm"> Modern Slavery Statement</a>
        <a class="underline text-sm">Términos de uso del sitio web</a>
        <a class="underline text-sm">Condiciones de venta</a>
        <a class="underline text-sm">Declaración de conformidad</a>
        <a class="underline text-sm">Política de cookies</a>
        <a class="underline text-sm">Preferencias de consetimiento</a>
    </div>
</div>


<script>
  const compraOculto = document.querySelector<HTMLElement>('.compraOculto'); // HTMLElement para que visual studio no me grite
  const compra = document.querySelector<HTMLElement>('.compra');

  if (compraOculto && compra) {
    compraOculto.style.display = "none";

    compra.addEventListener("click", () => {
      compraOculto.style.display = "block";
    });
  }
</script>


</footer>