---

---
<div id="hamburguesaOculta" class="fixed bg-black/50 backdrop-blur-sm z-50 overflow-hidden transition-all duration-300 w-100 min-h-full text-white">
    <ul class="p-6 space-y-4 flex" id="categorias">
      <li>
        <div class="p-1 border-2 border-transparent hover:border-white transition-all duration-200 ease-in-out cursor-pointer" id="newLabel">
          Nuevo y destacado
        </div>
      </li>
      <li>
        <div class="p-1 border-2 border-transparent hover:border-white transition-all duration-200 ease-in-out cursor-pointer" id="mujerLabel">
          Mujer
        </div>
      </li>
      <li>
        <div class="p-1 border-2 border-transparent hover:border-white transition-all duration-200 ease-in-out cursor-pointer" id="hombreLabel">
          Hombres
        </div>
      </li>
      <li>
        <div class="p-1 border-2 border-transparent hover:border-white transition-all duration-200 ease-in-out cursor-pointer" id="kidsLabel">
          Niños
        </div>
      </li>
    </ul>
    
    <!-- NUEVO Y DESTACADO -->
    <div class="nuevo">
      <ul class="space-y-2 *:hover:-rotate-2 *:transition-all duration-150" id="new">
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">Valentino Garaavni y Vans</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">Kpop demon hunters</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">Novedades</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">Tendencias ahora</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">Destacados</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">Classics</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">Action Sports</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">Sales</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
      </ul>
    </div>
    
    <!-- MUJER -->
    <div class="otros">
      <ul class="space-y-2 *:hover:-rotate-2 *:transition-all duration-150" id="woman">
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">Ver todo</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">Valentino Garaavni y Vans</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">KPop Demon Hunters</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">Nuevo y destacado</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">Zapatillas</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">Ropa</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">Accesorios</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
        <li class="relative inline-block group">
          <span class="relative cursor-pointer">Rebajas</span>
          <span class="absolute bottom-0 left-0 h-0.5 bg-white w-0 group-hover:w-full transition-all duration-500"></span>
        </li>
      </ul>
    </div>
</div>

<script>
  
</script>


<script>
  let nuevo = document.querySelector<HTMLElement>('.nuevo')
  let otros = document.querySelector<HTMLElement>('.otros')
  let arrayContenido = [nuevo, otros]
    // if(otros != null){
    //   otros.style.display = "none";
    // }
  let newLabel = document.querySelector<HTMLElement>('#newLabel')
  let mujerLabel = document.querySelector<HTMLElement>('#mujerLabel')
  let hombreLabel = document.querySelector<HTMLElement>('#hombreLabel')
  let kidsLabel = document.querySelector<HTMLElement>('#kidsLabel')
  let selector;
  let arrayLabels = [newLabel, mujerLabel, hombreLabel, kidsLabel];

    let categorias = document.querySelector('#categorias')

    categorias?.addEventListener("click", cambiarTema)

    otros.style.display = "none"


function cambiarTema(e){
    let label = e.target.closest("div")
      if(arrayLabels.includes(label)==false ){
        return;
      }
      console.log(label);

      if (selector!=null){
        selector.style.backgroundColor = "transparent"
        selector.style.color = "white"
      }

  label.style.backgroundColor = "white";
  label.style.color = "black"
  selector = label;
  let contenido;

  if (label == newLabel){
    contenido = nuevo
  }
  else{
    contenido = otros;
  }

  for (let iterable of arrayContenido){
    if (contenido!=iterable){
      iterable.style.display = "none"
    }
    else{
      iterable.style.transform = "translatex(20rem)"
      iterable.style.display = "block"
 setTimeout(() => {
      contenido.style.transition = "transform 0.3s ease-out";
      contenido.style.transform = "translateX(0)";
    }, 10);    }
  }
}


</script>