---
import vansLogo from '../assets/Vans-logo.svg.png';

---
<div class="hamburguesa">
    <i class="fa fa-bars"></i>
</div>
<div class="logo"><img src={vansLogo.src}></div>
<div class="icons">
    <i class="fa fa-user"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>  <!-- TODO: Colocar este icono bien -->
    <i class="fa fa-star"></i> <!-- TODO: Colocar este icono bien -->
</div>