---
import vansLogo from "../assets/Vans-logo.svg.png";
import "../styles/global.css";
import HamburguesaNav from "./HamburguesaNav.astro";
---



<HamburguesaNav></HamburguesaNav>

<nav class="sticky top-0 left-0 w-full h-20 flex flex-col bg-white z-40">
  <div class="w-full h-20 grid grid-rows-1 grid-cols-2 md:grid-cols-3 bg-white">

    <div id="abrirHamburguesa" class="hidden md:block hamburguesa ">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class=" w-10 h-10 hover:bg-gray-500 transition-all duration-150 p-1 hover:cursor-pointer">
        <path d="M5.9 7.9h20.2v2.2H5.9V7.9Zm0 7h20.2v2.2H5.9v-2.2Zm0 7h20.2v2.2H5.9v-2.2Z"/>
      </svg>    
    </div>

<div class="flex items-center justify-start md:justify-center">
  <img
    src={vansLogo.src}
    alt="Vans logo"
    class="h-10 md:h-12 w-auto hover:-rotate-2 transition-all duration-150 hover:cursor-pointer"
  />
</div>

    <!--ICONOS -->
    <div class="flex justify-end items-center pr-4">
      <div class="flex gap-4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="w-10 h-10 hover:bg-gray-500 transition-all duration-150 p-1 hover:cursor-pointer">
          <path fill-rule="evenodd" d="M8 18.73c0-.68.55-1.23 1.23-1.23h13.54c.68 0 1.23.55 1.23 1.23v7.77h-2v-7H10v7H8v-7.77Zm8-5.23a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm0 2a5 5 0 1 0 0-10 5 5 0 0 0 0 10Z" clip-rule="evenodd"/>
        </svg>
        
        <svg viewBox="0 0 32 32" class="hidden md:block w-10 h-10 hover:bg-gray-500 transition-all duration-150 p-1 hover:cursor-pointer">
          <path xmlns="http://www.w3.org/2000/svg" fill="currentColor" d="m11.35 10.61-6.06.51-.23.03a2.5 2.5 0 0 0-1.2 4.35l4.6 4-1.37 5.93-.04.22a2.5 2.5 0 0 0 3.77 2.48L16 25l5.18 3.14.2.11c1.85.92 4.01-.73 3.53-2.81l-1.38-5.94 4.6-3.99.17-.16a2.5 2.5 0 0 0-1.6-4.22l-6.05-.5-2.35-5.6a2.5 2.5 0 0 0-4.6 0l-2.35 5.6Zm5.33-4.9 2.56 6.08c.13.3.41.5.74.53l6.58.55c.65.06.92.87.42 1.3l-5 4.34a.88.88 0 0 0-.28.86l1.5 6.46a.74.74 0 0 1-1.1.8l-5.65-3.43a.88.88 0 0 0-.9 0L9.9 26.63a.74.74 0 0 1-1.1-.8l1.49-6.46a.88.88 0 0 0-.28-.86l-5-4.34a.74.74 0 0 1 .42-1.3l6.58-.55c.33-.02.61-.23.74-.53l2.56-6.08a.74.74 0 0 1 1.36 0Z"/>
        </svg>
        
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="w-10 h-10 hover:bg-gray-500 transition-all duration-150 p-1 hover:cursor-pointer">
          <path d="M19 17.59 26.41 25 25 26.41 17.59 19 19 17.59Z"/>
          <path fill-rule="evenodd" d="M14 20a6 6 0 1 0 0-12 6 6 0 0 0 0 12Zm0 2a8 8 0 1 0 0-16 8 8 0 0 0 0 16Z"/>
        </svg>
        
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="w-10 h-10 hover:bg-gray-500 transition-all duration-150 p-1 hover:cursor-pointer">
          <path d="M12 26a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm12 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
          <path fill-rule="evenodd" d="M9 7h16.67c.86 0 1.45.86 1.15 1.66L23.69 17H10.5v-2h11.8l2.26-6H9V7Z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M4 5h5.32l2.22 11.1L9.98 20H25v2H8.84c-.86 0-1.47-.87-1.14-1.69l1.76-4.4L7.68 7H4V5Z" clip-rule="evenodd"/>
        </svg>

        <div id="abrirHamburguesa" class=" md:hidden hamburguesa">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="w-10 h-10 hover:bg-gray-500 transition-all duration-150 p-1 hover:cursor-pointer">
        <path d="M5.9 7.9h20.2v2.2H5.9V7.9Zm0 7h20.2v2.2H5.9v-2.2Zm0 7h20.2v2.2H5.9v-2.2Z"/>
      </svg>    
    </div>
      </div>
    </div>

  </div>

</nav>


<script>
  //ABRIR MENU HAMBURGUESA
  
  const hamburguesa = document.querySelector<HTMLElement>("#hamburguesaOculta");
    const abrirHamburguesa = document.querySelector<HTMLElement>(".hamburguesa");

      console.log(hamburguesa)
      console.log(abrirHamburguesa)

  if (hamburguesa && abrirHamburguesa) {
    hamburguesa.style.maxWidth = "0px"; //Lo oculto, esto se ejcuta por defecto al iniciar la pagina.
    hamburguesa.style.overflow = "hidden";
    hamburguesa.style.transition = "max-width 0.3s linear";

    abrirHamburguesa.addEventListener("click", abrirMenu);

    function abrirMenu() {
      if (!hamburguesa || !abrirHamburguesa) {
        return;
      }
      if (hamburguesa.style.maxWidth === "0px") {
        hamburguesa.style.maxWidth = hamburguesa.scrollHeight + "px";
      } else {
        hamburguesa.style.maxWidth = "0px";
      }
    }
  }
</script>