---

---
<div class="reviews text-center">
    <div class="reviewNumber text-neutral-600">Opinión</div>
    <div class="puntuacion text-4xl mt-3">4.59 / 5</div>

    <button type="button" class="px-6 py-4 bg-gray-900 text-white hover:bg-black transition-all duration-150 hover:cursor-pointer">200 reseñas</button>
    <button type="button" class="px-6 py-4 border-2 border-solid verTallas hover:cursor-pointer">Escribir una opinión</button>

</div>