---

---
<div class="reviews">
    <div class="reviewNumber">Sin Reseñas</div>
    <p>Mocasines skate</p>
    <div class="reviewFollowup">Se el primero en opinar</div>
    <div class="precio">90€</div>
    <button type="button">Escribir una opinión</button>
</div>