<p>¡10% extra en todos los artículos en rebajas! Se aplica en el carrito.

 

Esta oferta solo es válida para los productos de la sección «Rebajas» desde el 3.01.2026 hasta la medianoche del 9.02.2026 online y desde el 7.01.2026 hasta el 3.02.2026 en tiendas seleccionadas.La oferta no es acumulable ni a otras ofertas, descuentos o promociones, incluyendo Recompensas Vans Family.En caso de devolución, VANS se reserva el derecho de deducir el porcentaje de descuento correspondiente al precio de compra y efectuar el reembolso correspondiente.El promocional EXTRA10 es aplicable solo a productos ya rebajados y válido únicamente del 16.01.2026 hasta las doce de la noche del 28.01.2026. El descuento se aplicará automáticamente en el momento del pago.</p>