---
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const {ArrayProductoImagenes} = Astro.props

interface interfazImagen{
  url: string;
}

---


<div class="hidden left md:flex flex-wrap gap-0  md:max-w-7xl mx-auto">
    {ArrayProductoImagenes.arrayImages.map((imagen: interfazImagen) => (
            <img
              class="w-1/2 h-auto object-contain pl-2 pb-2 m-w-100"
              src={imagen.url}
            />        
    ))}
            <!-- <img
              class="w-1/2 h-auto object-contain p-2 m-w-100"
              src={}
            /> -->

          </div>