---
const {arrayProductos} = Astro.props;

let arrayTallas = arrayProductos.sizes


interface InterfazTallas {
  price: number;
  availability: boolean;
}


---

<div
  class="oscuro fixed bg-black top-0 right-0 w-full h-full pointer-events-none z-40 transition-all duration-150"
>
</div>

<!-- Menu de tallas -->
<div
  class="tallas fixed flex flex-col bg-white *:text-black md:top-0 md:right-0 md:left-auto -bottom-full left-0 w-full h-3/4 md:h-full backdrop-blur-sm z-50 md:w-96 transition-all duration-300 ease-out pointer-events-none opacity-0 overflow-y-scroll"
>
  <div class="title text-xl  py-4 px-4 border-b border-gray-200">
    Elige una talla
  </div>

  <div class="overflow-y-scroll h-full" id="menuTallas">
    {
      arrayTallas.map((Talla: InterfazTallas) =>
        Talla.availability === true ? (
          <button
            type="button"
            class="py-4 px-4 border-b border-gray-200 border-solid flex justify-between w-full hover:bg-gray-50 transition-colors"
          >
            <div class="talla font-medium">{Talla.size}</div>
            <div class="precio">{arrayProductos.price}€</div>
          </button>
        ) : (
          <button
            type="button"
            class="py-4 px-4 border-b border-gray-200 border-solid flex justify-between w-full bg-gray-50"
          >
            <div class="talla font-medium text-gray-500">{Talla.size}</div>
            <div class="precio text-gray-500 text-sm">Agotado</div>
          </button>
        )
      )
    }
  </div>
<div class="flex grow border-b border-gray-200 cursor-pointer">
    <button class="flex grow">
      <div class="talla font-medium text-white bg-[rgb(38,36,36)] grow text-center p-3 m-6 cursor-pointer hover:bg-black transition-all duration-150">
        Añade a la cesta
      </div>
    </button>
  </div>

</div>

<script>
  const hamburguesa = document.querySelector<HTMLElement>(".tallas");
  const abrirHamburguesa = document.querySelector<HTMLElement>(
    ".verTallas, .verTallasResponsive",
  );
  const oscuro = document.querySelector<HTMLElement>(".oscuro");

  if (hamburguesa && abrirHamburguesa && oscuro) {
    hamburguesa.style.opacity = "0";
    oscuro.style.opacity = "0";

    abrirHamburguesa.addEventListener("click", abrirMenu);

    function abrirMenu() {
      if (hamburguesa == null || oscuro == null || abrirHamburguesa == null) {
        return;
      }
      hamburguesa.style.pointerEvents = "auto";
      oscuro.style.opacity = "0.15";

      if (hamburguesa.style.opacity === "0") {
        if (window.innerWidth < 768) {
          // VER SI ES RESPONSIVE O NO
          hamburguesa.style.bottom = "0";
          hamburguesa.style.right = "auto";
        } else {
          hamburguesa.style.right = "0";
          hamburguesa.style.bottom = "auto";
        }
        hamburguesa.style.opacity = "1";
      }

      oscuro.style.pointerEvents = "auto";
      oscuro.addEventListener("click", cerrar);
    }

    function cerrar() {
      if (hamburguesa == null || oscuro == null || abrirHamburguesa == null) {
        return;
      }
      oscuro.style.opacity = "0.0";
      hamburguesa.style.opacity = "0";
      hamburguesa.style.right = "-80px";
      hamburguesa.style.bottom = "-80px";

      oscuro.removeEventListener("click", cerrar);
      oscuro.style.pointerEvents = "none";
      hamburguesa.style.pointerEvents = "none";
    }
  }

let menuTallas = document.querySelector('#menuTallas');
menuTallas?.addEventListener("click", marcar)
let seleccionAntigua: HTMLElement;
function marcar(e: Event){
  if(!e.target || (e.target as HTMLElement).closest('button') == null){
    return
  }
  let seleccion = (e.target as HTMLElement).closest('button');
  if (seleccion == null){
    return
  }
  seleccion.style.backgroundColor = "black";
  seleccion.style.color = "white";

  if (seleccionAntigua!=null){
    seleccionAntigua.style.backgroundColor="white"
    seleccionAntigua.style.color="black"
  }

  seleccionAntigua = seleccion;
  

}

</script>

