---
import SliderInicio from "../components/SliderInicio.astro";
import Footer from "@general/GeneralFooter.astro";
import Nav from "@general/GeneralNav.astro";
import women from "../assets/women.avif";
import men from "../assets/men.avif";
import kids from "../assets/kids.avif";
import CarruselInicioResponsive from "../components/CarruselInicioResponsive.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <div class="min-h-screen flex flex-col">
    <Nav />
    <main class="">
      <SliderInicio />
      <div
        class="overflow-hidden hidden categorias md:grid grid-cols-3 grid-rows-1 mt-4 transition-all duration-150 hover:cursor-pointer hover:zoom-20"
      >
        <div class="relative overflow-hidden">
          <img
            class=" transition-all duration-150 object-contain hover:-rotate-2 hover:scale-110"
            src={women.src}
            alt="Women"
          />
          <div
            class="absolute bottom-0 left-0 right-0 h-1/3 bg-linear-to-t from-black/60 to-transparent"
          >
          </div>
          <div class="underline absolute text-xl text-white bottom-1/12 left-10 right-0">
            Mujer
          </div>
        </div>
        <div class="relative overflow-hidden">
          <img
            class=" transition-all duration-150 object-contain hover:-rotate-2 hover:scale-110"
            src={men.src}
            alt="Men"
          />
          <div
            class="absolute bottom-0 left-0 right-0 h-1/3 bg-linear-to-t from-black/60 to-transparent"
          >
          </div>
          <div class="underline absolute text-xl text-white bottom-1/12 left-10 right-0">
            Hombre
          </div>
        </div>

        <div class="relative overflow-hidden">
          <img
            class=" transition-all duration-150 object-contain hover:-rotate-2 hover:scale-110"
            src={kids.src}
            alt="Kids"
          />
          <div
            class="absolute bottom-0 left-0 right-0 h-1/3 bg-linear-to-t from-black/60 to-transparent"
          >
          </div>
          <div class="underline absolute text-xl text-white bottom-1/12 left-10 right-0">
            Niños
          </div>
        </div>
      </div>
      <div class="md:hidden">
        <CarruselInicioResponsive />
      </div>
    </main>
    <Footer class="" />
  </div>

</html>


<script>

document.addEventListener("scroll", transparentarNav)
let nav = document.querySelector('nav');

if (nav!=null){

  nav.style.backgroundColor = "transparent"
  nav.style.position = "fixed"
  nav.style.color="white"  
}
function transparentarNav(){
  if (nav==null){
    return
  }

  if(window.scrollY>nav.clientHeight){
        nav.style.backgroundColor = "white"
        nav.style.color="black"
  }
  else{
    nav.style.backgroundColor = "transparent"
    nav.style.color="white"
  }
}

</script>