---
import Carrusel from '../components/Carrusel.astro';
import CarruselInicio from '../components/CarruselInicio.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import women from '../assets/women.avif';
import men from '../assets/men.avif';
import kids from '../assets/kids.avif';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
<div class="min-h-screen flex flex-col">
	<Nav></Nav>
    <main class="flex-grow pt-20"> <!-- Add pt-20 to account for fixed nav height -->
      <div class="h-screen">
        <CarruselInicio></CarruselInicio>
      </div>
      <div class="categorias grid grid-cols-3 grid-rows-1 mt-4 *:hover:-rotate-2 transition-all duration-150 hover:cursor-pointer hover:zoom-20">
      <div><img class="object-contain p-2" src={women.src} alt="Women" /></div>
      <div><img class="object-contain p-2" src={men.src} alt="Men"></div>
      <div><img class="object-contain p-2" src={kids.src} alt="Kids"></div>
    </div>
  </main>
  <Footer class=""></Footer>
  </div>
</body>
<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

