---
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import categoriaVideo from '../assets/CategoriaVideo.webm'
import Accordion from '../components/Accordion.astro';
import AccordionScript from '../components/AccordionScript.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class=" ">

		<main class="bg-white">

						<Nav></Nav>


			<div class="frontText sticky z-50 bg-white top-0">
				<div class="smallText hover:underline text-xs ml-5 text-neutral-500">compra</div>
				<div class="categoryName mt-3 ml-5 text-2xl">Ropa y Calzado para hombre</div>
				<div class="flex justify-between">
					
					<div class="showFilters flex ml-5 mt-2">
						Mostrar Filtros 
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="w-7 h-7"><path d="M19.9 5.9v6.2h2.2v-2h5V7.9h-5v-2h-2.2Zm-1.8 2H4.9v2.2h13.2V7.9Zm-8.2 5v2h-5v2.2h5v2h2.2v-6.2H9.9Zm17.2 2H13.9v2.2h13.2v-2.2Zm-12.07 5v6.2h2.19v-2h9.87v-2.2h-9.87v-2h-2.19Zm-2.4 2H4.95v2.17h7.68V21.9Z"/></svg>						
					</div>

					<div class="mr-3">1000 Producto</div>
				</div>
				
			</div>

				<div class="tarjetas grid grid-rows-3 grid-cols-2 md:grid-cols-3 ">
				<div class="tarjeta">
					<Card></Card>
				</div>
				<div class="tarjeta">
					<Card></Card>
				</div>
				<div class="tarjeta">
					<video autoplay muted loop src={categoriaVideo}></video>
				</div>
				<div class="tarjeta">
					<Card></Card>
				</div>				
				<div class="tarjeta">
					<Card></Card>
				</div>
				<div class="tarjeta">
					<Card></Card>
				</div>
				<div class="tarjeta">
					<Card></Card>
				</div>
				<div class="tarjeta">
					<Card></Card>
				</div>
				<div class="tarjeta">
					<Card></Card>
				</div>
				<div class="tarjeta">
					<Card></Card>
				</div>
			</div>

			</div>

			</div>

			<div class="text-center">
				<p>Viendo 48 de 1185 Productos</p>
				<button
				type="button"
				class="px-6 py-4 bg-gray-900 text-white hover:bg-black transition-all duration-150 mr-6 hover:cursor-pointer"
				>Ver más</button>
				</div>
					<Accordion></Accordion>
					<Accordion></Accordion>

		</main>
		<Footer></Footer>
	</body>
</html>

<AccordionScript></AccordionScript>

<script>
  const imagenes = document.querySelectorAll<HTMLElement>(".imagenes");
  const rightArrow = document.querySelectorAll<HTMLElement>(".rightArrow");
  const leftArrow = document.querySelectorAll<HTMLElement>(".leftArrow");

	let contador = 0;
// function moverDerecha(){
//     if(imagenes != null){
//         imagenes.append(imagenes.firstElementChild);
//     }
// }
// imagenes?.addEventListener("click", moverDerecha);

// function moverIzquierda(){
//     if(imagenes != null){
//         imagenes.prepend(imagenes.lastElementChild);
//     }
// }
// imagenes?.addEventListener("keyup", moverIzquierda);
 // Loop through each element
 for (let iteracion of imagenes){
    let currentPosition = 0;

    function moverDerecha() {
        if (currentPosition > -400) {
        currentPosition -= 100; 
            iteracion!.style.transform = `translateX(${currentPosition}%)`;
        }
    }

    function moverIzquierda() {
        if (currentPosition <= -100) { 
	        currentPosition += 100;
			iteracion!.style.transform = `translateX(${currentPosition}%)`;
        }
    }

    rightArrow[contador].addEventListener("click", moverDerecha);
    leftArrow[contador].addEventListener("click", moverIzquierda);
	contador+=1;
}

  //ARREGLA ESTO COLOCANDO EL METODO EN LA CATEGORIA!!!
  

</script>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
