---
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!doctype html>
<html lang="en">
	<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="grid grid-cols-1 grid-rows-3">
        <Nav class="col-span-1 row-span-1"></Nav>
		<main class="col-span-1 row-span-2">
			<div class="frontText">
				<div class="smallText hover:underline text-xs">compra</div>
				<div class="categoryName">Ropa y Calzado para hombre</div>
				<div class="showFilters">
					<p>Mostrar Filtros</p>
					<i class="fa fa-bars"></i>
				</div>
			</div>
		</main>
		<Footer class="col-span-1 row-span-3"></Footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
