---
import GeneralHeader from "../components/General/GeneralHeader.astro";
import Nav from "@general/GeneralNav.astro";
import Footer from "@general/GeneralFooter.astro";

const {title, lang, flag} = Astro.props


---

<GeneralHeader title={title} lang={lang}/>



  <body class="bg-white">
    <Nav/>
    <main>
    <slot>

    </slot>
  </main>
    <Footer flag={flag}/>
</body>