---
import GeneralHeader from "../components/General/GeneralHeader.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";


---

<GeneralHeader>

</GeneralHeader>

  <body class="bg-white">
    <Nav/>
    <slot>
        
    </slot>
    <Footer/>
</body>