---
import Footer from "@general/GeneralFooter.astro";
import Nav from "@general/GeneralNav.astro";
import categoriaVideo from "../assets/CategoriaVideo.webm";
import Accordion from "@general/GeneralAccordion.astro";
import AccordionScript from "@general/GeneralAccordionScript.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="bg-white">
		<div class="oscuro z-50 bg-black fixed min-h-full min-w-full pointer-events-none opacity-0 md:hidden" ></div>

    <main class="bg-white">
      <Nav />

      <div class="smallText hover:underline text-xs ml-5 text-neutral-500">
        compra
      </div>
      <div class="flex frontText sticky z-40 bg-white top-0 items-center">
        <div class="flex flex-col grow">
          <div class="categoryName mt-3 ml-5 textxl md:text-2xl">
            Ropa y Calzado para hombre
          </div>
          <div class="flex justify-between">
            <div class="showFilters flex ml-5 mt-2">
                <div class="hidden md:block">
                  <div class="flex">
                    Mostrar Filtros
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 32 32"
                      class="pl-2 w-7 h-7 botonFiltros"
                      ><path
                        d="M19.9 5.9v6.2h2.2v-2h5V7.9h-5v-2h-2.2Zm-1.8 2H4.9v2.2h13.2V7.9Zm-8.2 5v2h-5v2.2h5v2h2.2v-6.2H9.9Zm17.2 2H13.9v2.2h13.2v-2.2Zm-12.07 5v6.2h2.19v-2h9.87v-2.2h-9.87v-2h-2.19Zm-2.4 2H4.95v2.17h7.68V21.9Z"
                      ></path></svg
                    >
                  </div>
                </div>
              <p class="md:hidden text-xs">1000 Producto</p>
            </div>

            <div class="mr-3 hidden md:block">
              <p class="hidden md:block">1000 Producto</p>
              <p class="md:hidden">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 32 32"
                  class="pl-2 w-7 h-7"
                  ><path
                    d="M19.9 5.9v6.2h2.2v-2h5V7.9h-5v-2h-2.2Zm-1.8 2H4.9v2.2h13.2V7.9Zm-8.2 5v2h-5v2.2h5v2h2.2v-6.2H9.9Zm17.2 2H13.9v2.2h13.2v-2.2Zm-12.07 5v6.2h2.19v-2h9.87v-2.2h-9.87v-2h-2.19Zm-2.4 2H4.95v2.17h7.68V21.9Z"
                  ></path></svg
                >
              </p>
            </div>
          </div>
        </div>

        <div class="md:hidden botonFiltrosResponsive">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              class="pl-2 w-8 h-8 mr-4"
              ><path
                d="M19.9 5.9v6.2h2.2v-2h5V7.9h-5v-2h-2.2Zm-1.8 2H4.9v2.2h13.2V7.9Zm-8.2 5v2h-5v2.2h5v2h2.2v-6.2H9.9Zm17.2 2H13.9v2.2h13.2v-2.2Zm-12.07 5v6.2h2.19v-2h9.87v-2.2h-9.87v-2h-2.19Zm-2.4 2H4.95v2.17h7.68V21.9Z"
              ></path></svg
            >
        </div>
      </div>

      


    <div class="flex">
      <!-- MENU FILTROS-->
      <div class="z-50 min-w-full md:min-w-1/4 max-h-6/7 bg-white opacity-0 md:hidden md:opacity-100 filtros md:static fixed bottom-0 translate-y-3/4 md:translate-y-0 transition-all duration-150 ease-out overflow-y-auto">
        <Accordion>
          <div slot="title">Orden</div>

          <div slot="Content">
            <ul>
              <li>
                <input type="radio" id="importancia" name="orden" />
                <label for="orden">Importancia</label>
              </li>
              <li>
                <input type="radio" id="bajoAlto" name="orden" />
                <label for="bajoAlto">Precios: De bajo a alto</label>
              </li>
              <li>
                <input type="radio" id="altoBajo" name="orden" />
                <label for="altoBajo">Precios: De alto a bajo</label>
              </li>
              <li>
                <input type="radio" id="masVendidos" name="orden" />
                <label for="masVendidos">Más vendidos</label>
              </li>
              <li>
                <input type="radio" id="novedades" name="orden" />
                <label for="novedades">Novedades</label>
              </li>
            </ul>
          </div>
        </Accordion>
        <Accordion>
          <div slot="title">Tipo de producto</div>

          <div slot="Content">
            <ul class="*:my-1">
              <li>
                <input type="checkbox" id="zapatos" class="mr-1" />
                <label for="zapatos">Zapatos</label>
              </li>
              <li>
                <input type="checkbox" id="accesorios" class="mr-1" />
                <label for="accesorios">Accesorios</label>
              </li>
              <li>
                <input type="checkbox" id="ropa" class="mr-1" />
                <label for="ropa">Ropa</label>
              </li>
              <li>
                <input type="checkbox" id="snowboard" class="mr-1" />
                <label for="snowboard">Botas de snowboard</label>
              </li>
            </ul>
          </div>
        </Accordion>
        <Accordion>
          <div slot="title">Genero</div>

          <div slot="Content">
            <ul class="*:my-1">
              <li>
                <input type="checkbox" id="mujer" class="mr-1" />
                <label for="mujer">Mujer</label>
              </li>
              <li>
                <input type="checkbox" id="hombre" class="mr-1" />
                <label for="hombre">Hombre</label>
              </li>
              <li>
                <input type="checkbox" id="chicas" class="mr-1" />
                <label for="chicas">Chicas (8-14)</label>
              </li>
              <li>
                <input type="checkbox" id="chicos" class="mr-1" />
                <label for="chicos">Chicos (8-14)</label>
              </li>
              <li>
                <input type="checkbox" id='kids"' class="mr-1" />
                <label for="kids">Niños (0-8)</label>
              </li>
            </ul>
          </div>
        </Accordion>
        <Accordion>
          <div slot="title">Talla</div>

          <div slot="Content">
            <ul
              class="*:p-2 *:border *:m-1 flex cuadrado *:transition-all *:length-150"
            >
              <li id="opcionCuadrado">
                <div class="">22</div>
              </li>
              <li id="opcionCuadrado">
                <div class="">23</div>
              </li>
              <li id="opcionCuadrado">
                <div class="">24</div>
              </li>
              <li id="opcionCuadrado">
                <div class="">25</div>
              </li>
            </ul>
          </div>
        </Accordion>
        <Accordion>
          <div slot="title">Color</div>

          <div slot="Content">
            <ul class="grid grid-cols-6 gap-4 text-xs">
              <li class="flex flex-col items-center justify-center">
                <div class="w-3/4 aspect-square rounded-full bg-black"></div>
                <div class="py-3">Negro</div>
              </li>

              <li class="flex flex-col items-center justify-center">
                <div class="w-3/4 aspect-square rounded-full bg-white border">
                </div>
                <div class="py-3">Blanco</div>
              </li>

              <li class="flex flex-col items-center justify-center">
                <div
                  class="w-3/4 aspect-square rounded-full bg-[rgb(40,62,141)]"
                >
                </div>
                <div class="py-3">Azul</div>
              </li>

              <li class="flex flex-col items-center justify-center">
                <div
                  class="w-3/4 aspect-square rounded-full bg-[rgb(204,153,102)]"
                >
                </div>
                <div class="py-3">Beis</div>
              </li>

              <li class="flex flex-col items-center justify-center">
                <div class="w-3/4 aspect-square rounded-full bg-black"></div>
                <div class="py-3">Negro</div>
              </li>

              <li class="flex flex-col items-center justify-center">
                <div class="w-3/4 aspect-square rounded-full bg-white border">
                </div>
                <div class="py-3">Blanco</div>
              </li>

              <li class="flex flex-col items-center justify-center">
                <div
                  class="w-3/4 aspect-square rounded-full bg-[rgb(40,62,141)]"
                >
                </div>
                <div class="py-3">Azul</div>
              </li>

              <li class="flex flex-col items-center justify-center">
                <div
                  class="w-3/4 aspect-square rounded-full bg-[rgb(204,153,102)]"
                >
                </div>
                <div class="py-3">Beis</div>
              </li>
            </ul>
          </div>
        </Accordion>
      </div>
      <div
        class="grow tarjetas grid grid-rows-3 grid-cols-2 md:grid-cols-3 *:contents"
      >
        <slot name="cards" />
      </div>
    </div>

    <div class="text-center">
      <p>Viendo 48 de 1185 Productos</p>
      <button
        type="button"
        class="px-6 py-4 bg-gray-900 text-white hover:bg-black transition-all duration-150 mr-6 hover:cursor-pointer"
        >Ver más</button
      >
    </div>

    <Accordion>
      <div slot="title">title</div>
      <div slot="Content" class="bg-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt soluta
        saepe nemo, fuga impedit cumque quaerat porro accusamus consectetur
        dolorum, tenetur ratione voluptates blanditiis non voluptas dolor iure!
        Quas, similique.
      </div>
    </Accordion>
    <Accordion>
      <div slot="title">title</div>

      <div slot="Content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt soluta
        saepe nemo, fuga impedit cumque quaerat porro accusamus consectetur
        dolorum, tenetur ratione voluptates blanditiis non voluptas dolor iure!
        Quas, similique.
      </div>
    </Accordion>
        </main>

  </body>
  <Footer />
</html>

<AccordionScript />

<script>
  const imagenes = document.querySelectorAll<HTMLElement>(".imagenes");
  const rightArrow = document.querySelectorAll<HTMLElement>(".rightArrow");
  const leftArrow = document.querySelectorAll<HTMLElement>(".leftArrow");

  let contador = 0;
  // function moverDerecha(){
  //     if(imagenes != null){
  //         imagenes.append(imagenes.firstElementChild);
  //     }
  // }
  // imagenes?.addEventListener("click", moverDerecha);

  // function moverIzquierda(){
  //     if(imagenes != null){
  //         imagenes.prepend(imagenes.lastElementChild);
  //     }
  // }
  // imagenes?.addEventListener("keyup", moverIzquierda);
  // Loop through each element
  for (let iteracion of imagenes) {
    let currentPosition = 0;

    function moverDerecha() {
      if (currentPosition > -400) {
        currentPosition -= 100;
        iteracion!.style.transform = `translateX(${currentPosition}%)`;
      }
    }

    function moverIzquierda() {
      if (currentPosition <= -100) {
        currentPosition += 100;
        iteracion!.style.transform = `translateX(${currentPosition}%)`;
      }
    }

    rightArrow[contador].addEventListener("click", moverDerecha);
    leftArrow[contador].addEventListener("click", moverIzquierda);
    contador += 1;
  }

  // MENU FILTROS

  const botonFiltros = document.querySelector<HTMLElement>(".botonFiltros");
	const botonFiltrosResponsive = document.querySelector<HTMLElement>(".botonFiltrosResponsive");
  const menuFiltros = document.querySelector<HTMLElement>(".filtros");
const oscuro = document.querySelector<HTMLElement>(".oscuro");
  let abierto = false;

//ABRIR LA PRIMERA DE DEFAULT, O TODAS SI ES RESPONSIVE
	if (menuFiltros != null) {

			console.log(window.innerWidth)
			console.log(menuFiltros.children)
			

		if (window.innerWidth < 768) {
			for (let iterable of menuFiltros.children){
				console.log(iterable);
				(iterable.firstElementChild as HTMLElement).click();
			}
		}
		else{
			        menuFiltros.style.display = "block";
			(menuFiltros.firstElementChild?.firstElementChild as HTMLElement)?.click();
        menuFiltros.style.display = "none";

		}
	}
		
		


  //ABRIR PC

  if (botonFiltros != null && menuFiltros != null) {
    botonFiltros.addEventListener("click", abrirMenu)
  }

  function abrirMenu() {
    if(menuFiltros == null){
      return
    }
      if (abierto == false ) {
        menuFiltros.style.display = "block";
        abierto = true;
     } else {
        menuFiltros.style.display = "none";
        abierto = false;
      }
    };


  //ABRIR RESPONSIVE


  if (botonFiltrosResponsive != null && oscuro!=null && menuFiltros != null) {
    botonFiltrosResponsive.addEventListener("click", abrirMenuResponsive)
  }


  function abrirMenuResponsive(){
    if(menuFiltros == null  || oscuro == null){
      return
    }
		if (abierto == false) {
			menuFiltros.style.opacity = "1";
		  oscuro.style.opacity = "0.25";
			menuFiltros.style.transform = "translateY(-75%)";
        abierto = true;
       document.addEventListener("click", cerrarFuera);
 
      } else {
		menuFiltros.style.transform = "translateY(75%)";
			   oscuro.style.opacity="0"
			   menuFiltros.style.opacity = "0";
			   abierto = false;
          document.removeEventListener("click", cerrarFuera);
 	
      }
    ;
  }

function cerrarFuera(e: Event){
  let target = (e.target) as HTMLElement;
  if(target==null){
    return
  }
  if(!menuFiltros?.contains(target) && !botonFiltrosResponsive?.contains(target)){
    abrirMenuResponsive();
  }
}


  const cuadrado = document.querySelector<HTMLElement>(".cuadrado");
  if (cuadrado != null) {
    cuadrado.addEventListener("click", colorear);
  }

  function colorear(e: Event) {
    if (e.target == null) {
      return;
    }
    let seleccion = (e.target as HTMLInputElement).closest("li");
    if (seleccion == null || seleccion.id != "opcionCuadrado") {
      return;
    }
    if (seleccion.style.backgroundColor != "black") {
      seleccion.style.backgroundColor = "black";
      seleccion.style.color = "white";
    } else {
      seleccion.style.backgroundColor = "white";
      seleccion.style.color = "black";
    }
  }
</script>
